.App{
	max-width: 1300px;
	width: 100%;
	margin: 1rem auto;
}

.App-header{
	max-width: 600px;
	margin-bottom: 1rem;
	display: flex;
}
.App-input{
	width: 100%;
	padding: 0.5rem 12px;
	border: 2px solid #000;
	border-radius: 5px;
	margin-right: 1rem;
}

.App-second{
	margin: 0 0 1rem;
}

ul{
	padding: 0;
	margin: 0;

}

button{
	background: burlywood;
	width: fit-content;
	justify-self: center;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

li{
	display: grid;
	grid-template-columns: repeat(2, 200px) repeat(4, 1fr);
	align-items: center;
	justify-content: space-between;
	background: tomato;
	padding: 0.2rem;
	margin-bottom: 12px;
	text-align: center;
}
.done{
	background: #ccc;
}

.done p,
.done h3{
	text-decoration: line-through;
	color: rgba(0, 0, 0, .5);
}